<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Sistema de Monitoreo</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/codigo")
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
    
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a>@Html.ActionLink("Inicio", "Index", "Home")</a>
        <a href="javascript:void(0)" onclick="subUser()">Administración de Usuario</a>
        <div id="subUsuario">
            <a>@Html.ActionLink("Administración de Usuarios", "Index", "Usuario")</a>
            <a>@Html.ActionLink("Registrar Usuario", "Registrar", "Usuario")</a>
            <a>@Html.ActionLink("Iniciar Sesión", "Login", "Usuario")</a>
            <a>Cerrar Sesión</a>
        </div>
        <a>@Html.ActionLink("Crear Proyecto", "Crear", "Proyecto")</a>
        <a>@Html.ActionLink("Manejo de Proyectos Existentes", "Index", "Proyecto")</a>
        <a>@Html.ActionLink("Ver Datos", "VerDatos", "Consolidado")</a>
    </div>

    <div id="main">
        <span id="navegacion" onclick="openNav()">&#9776;  Menú de Navegación</span>
        <span>
            @if (Session["usuario"] != null)
            {
                <span>Bienvenido, @Session["usuario"].ToString()</span>
            }
        </span>
        <br /><br />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sistema de Monitoreo</p>
        </footer>
    </div>


</body>
</html>
